/* Global styles */
* {
  padding: 0px;
  margin: 0px;
  vertical-align: top;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0;
  padding: 20px;
}

header {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  text-shadow: 4px 4px red;
  height: 200px;
  margin-bottom: 30px;
}

#head {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

#twos,
#fours,
#sixes,
#eights,
#tens {
  display: flex;
  justify-content: center;
}

.titles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  color: white;
  border: solid 2px red;
  background-color: blue;
  font-size: large;
  font-weight: 550;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.titles:hover {
  background-color: red;
  border: 2px solid blue;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: blue;
  font-size: x-large;
  font-weight: bold;
  text-shadow: 2px 2px red;
}

#form {
  display: flex;
}

.bottom {
  margin-right: 20px;
}

#answer {
  border: 2px solid rgb(0, 0, 0);
  font-size: 30px;
}
/*when clicked, focuses element */
#answer:focus {
  background-color: red;
  color: white;
  border: 2px solid red;
}

#question {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-left: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
  font-size: x-large;
  background-color: red;
  color: white;
  width: fit-content;
}

#submit {
  display: flex;
  justify-content: center;
  background-color: blanchedalmond;
  width: 75px;
  color: black;
  border: 2px solid black;
  font-weight: bold;
  border-radius: 2px;
}
